<mat-card>
    <mat-action-list>
        <div mat-subheader>Administration</div>
        <button mat-list-item routerLink="/admin/home" ><mat-icon mat-list-icon>home</mat-icon>Dashboard</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/admin/oeuvre/all"><mat-icon mat-list-icon>book</mat-icon>Oeuvres</button>
        <button mat-list-item routerLink="/admin/session/all"><mat-icon mat-list-icon>dns</mat-icon>Session</button>
        <button mat-list-item routerLink="/admin/exposition/all"><mat-icon mat-list-icon>folder</mat-icon>Expositions</button>
        <button mat-list-item routerLink="/logout"><mat-icon mat-list-icon>logout</mat-icon>Se déconnecter</button>
    </mat-action-list>
</mat-card>