<mat-card>
    <h1>Détails du profil</h1>

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="../../../../assets/user.png" alt="user" width="20%" height="30%" class="profile-image">
                    <h1 class="mt20">John Doe dev</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <table class="table text-center">
                            <tr>
                                <td>Id</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td>Jhndoe</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>02020202</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>ADMIN</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>ACTIVE</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
          </div>
    </mat-card-content>

    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Modifier le profil</button>
    </mat-card-actions>

</mat-card>