<mat-card>
    <h1>Détails de l'exposition</h1>

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="../../../../assets/user.png" alt="user" width="20%" height="30%" class="expo-image">
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <table class="table text-center">
                            <tr>
                                <td>Id</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Titre</td>
                                <td>Jhndoe</td>
                            </tr>
                            <tr>
                                <td>Date d'exposition</td>
                                <td>02020202</td>
                            </tr>
                            <tr>
                                <td>Etat</td>
                                <td>ADMIN</td>
                            </tr>
                            <tr>
                                <td>Durée</td>
                                <td>ACTIVE</td>
                            </tr>
                            <tr>
                                <td>Oeuvre</td>
                                <td>ACTIVE</td>
                            </tr>
                            <tr>
                                <td>Session</td>
                                <td>ACTIVE</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
          </div>
    </mat-card-content>

</mat-card>