<mat-card>
    <h1>Détails de l'oeuvre</h1>

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <!-- <img [src]="oeuvre.image" alt="user" width="20%" height="30%" class="oeuvre-image"> -->
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <table class="table text-center">
                            <tr>
                                <td>Titre</td>
                                <td>{{oeuvre.titre}}</td>
                            </tr>
                            <tr>
                                <td>Prix</td>
                                <td>{{oeuvre.prix}}</td>
                            </tr>
                            <tr>
                                <td>Année</td>
                                <td>{{oeuvre.annee}}</td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td>{{oeuvre.rating}}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>{{oeuvre.type}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
          </div>
    </mat-card-content>

</mat-card>